{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="p-2 rounded sm:ring-1 ring-blue-300">
        <h2>Password Reset Confirm</h2><hr>
        <p>Please enter your new password.</p>
        <form method="POST" class="flex flex-col justify-center items-center mx-auto gap-y-2">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="px-10 py-3 rounded bg-indigo-600" type="submit">Reset password</button>
        </form>
    </div>
{% endblock %}