{% extends "main/header.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="flex justify-center items-center mx-auto flex-col gap-y-2">
                <legend class="border-b mb-4">Join Today</legend>
                {{ form.as_p }}
            </fieldset>

            By registering, you accept the Terms of Service and Privacy Notice

            <div class="form-group">
                <button class="px-7 py-2 rounded bg-indigo-600 text-white" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-t pt-3">
            <small class="text-gray-600">
                Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}