<header class=" mb-2" style="">
    <nav class="">
<div class="flex flex-wrap place-items-center">
    <section class="relative mx-auto">
        <!-- navbar -->
      <nav class="flex justify-between bg-gray-900 text-white w-screen">
        <div class="px-5 xl:px-12 py-6 flex w-full items-center">
          <a class="text-3xl font-bold font-heading" href="{% url 'home' %}">
             <img class="h-9" src="https://cdn.pixabay.com/photo/2016/12/26/18/33/logo-1932539__340.png" alt="logo"> 
        
          </a>
              {% if user.is_authenticated %}
              <a class="px-2 py-1 rounded bg-slate-700 ring-1 ring-white m-1" href="{% url 'logout' %}">
                  Log out <i class="fas fa-sign-out-alt"></i>
              </a>
          {% else %}
              <a class="px-2 py-1 rounded bg-slate-700 ring-1 ring-white m-1" href="{% url 'login' %}">
                  Log in <i class="fas fa-sign-in-alt"></i>
              </a>
              <a class="px-2 py-1 rounded bg-slate-700 ring-1 ring-white m-1" href="{% url 'register' %}">
                  Sign up <i class="fas fa-user-plus"></i>
              </a>
          {% endif %}
          <!-- Nav Links -->
          <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
            <h1 class="hover:text-gray-200" >Feel At Home</h1>
          </ul>
          <!-- Header Icons -->
          <div class="hidden xl:flex items-center space-x-5 items-center">
            {% if user.is_authenticated %}
            <a class="flex items-center hover:text-gray-200" href="{% url 'profile' request.user %}">
                <img class="h-10 w-10" src="{{request.user.image.url}}" alt="logo">
              <span class="flex absolute -mt-7 ml-6">
                <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-pink-400 opacity-75"></span>
                  <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500">
                  </span>
                </span>
            </a>
          {%else%}
            <!-- Sign In / Register      -->
            <a class="flex items-center hover:text-gray-200" href="">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
             
            </a>
            {%endif%}
          </div>
        </div>
        <!-- Responsive navbar -->
        {% if user.is_authenticated %}
        <a class="xl:hidden flex mr-8 items-center" href="{% url 'profile' request.user %}">
            <img class="h-6 w-6" src="{{request.user.image.url}}" alt="logo">
          <span class="flex absolute -mt-5 ml-4">
            <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-pink-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500">
            </span>
          </span>
        </a>
        {%else%}
        <a class="xl:hidden flex mr-8 items-center" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
          
        </a>
        {%endif%}
      </nav>
      
    </section>
  </div>
  <!-- Does this resource worth a follow? -->
  <div class="fixed md:bottom-10 bottom-2 right-0 md:-right-1 mb-4 mt-4 mr-4 z-10">
      <div>
          <a title="Follow me on twitter" href="https://mobile.twitter.com/FRANCIS90776084" target="_blank" class="block w-16 h-16 rounded-full transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12">
              <img class="object-cover object-center w-full h-full rounded-full" src="https://www.imore.com/sites/imore.com/files/styles/large/public/field/image/2019/12/twitter-logo.jpg"/>
          </a>
      </div>
  </div>
    </nav>
</header>


