{% extends "main/header.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <div class=" rounded sm:ring-1 ring-blue-600 p-2">
        <form method="POST" class="">
            {% csrf_token %}
            <fieldset class="flex gap-y-10 flex-col mx-auto">
                <legend class="border-b mb-4">Welcome Back</legend>
                <div class="text-slate-100">{{ form|crispy }}</div>
            </fieldset>
            <div class="pt-2">
                <button class="px-16 py-2 rounded bg-indigo-600 text-white flex justify-center items-center mx-auto" type="submit">Sign In</button>
            </div>
        </form>
        <div class=" pt-3">
            <small class="text-gray-200">
                Don't have An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
            <small class="text-gray-200">
                <a href="/">Forgot password?</a>
            </small>
        </div>
    </div>
{% endblock content %}