{% extends "main/header.html" %}
{% block content %}
    <div class="text-white flex md:flex-row flex-col justify-center items-center  gap-7 mx-auto ">
    {% for object in objects %}
        <div class="">
            <article class="flex flex-col justify-center items-center mx-auto">
                <div class=" rounded ring-1 ring-white">
                    <a href="/{{object.slug}}">
                        <img class=" object-cover rounded h-40 w-full " src="{{ object.image.url }}">
                    </a>
                    
                    <div class="flex flex-row gap-x-4 justify-center items-center mx-auto">
                        <a class="mr-2 text-blue-300 bg-slate-800 rounded p-1" href="{% url 'profile' object.author %}">{{ object.author }}</a>
                        <small class="text-blue-300">{{ object.published|date:"F d, Y" }}</small>
                    </div>
                    <div class="p-3">
                        {% if object.author == user %}
                            <div class="flex flex-row gap-x-3 justify-center items-center mx-auto" >
                                {% if type == "series" %}
                                    <a class="px-5 py-2 rounded bg-indigo-600 text-white" href="{% url 'series_update' object.slug %}">Update</a>
                                    <a class="px-5 py-2 rounded bg-indigo-600 text-white" href="{% url 'series_delete' object.slug %}">Delete</a>                   
                                {% else %}
                                    <a class="px-5 py-2 rounded bg-indigo-600 text-white" href="{% url 'article_update' object.series.slug  object.article_slug %}">Update</a>
                                    <a class="px-5 py-2 rounded bg-indigo-600 text-white" href="{% url 'article_delete' object.series.slug  object.article_slug %}">Delete</a>                      
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="pt-4 flex flex-col justify-center items-center mx-auto">
                        <a class="p-1" style="font-size: 22px" href="/{{object.slug}}">
                            {{ object.title }}
                        </a>
                        <a href="/{{object.slug}}" style="text-decoration: none;">
                            <p class="p-1">{{ object.subtitle }}</p>
                        </a>
                       
                    </div>
                   
                </div>
            </article>
        </div>
    {% endfor %}
    </div>
{% endblock content %}