{% extends "main/header.html" %}
{% block content %}
    <div class="text-white flex flex-row justify-center items-center  gap-x-10">
    {% for object in objects %}
        <div class="">
            <article class="">
                <div class=" rounded ring-1 ring-white">
                    <a href="/{{object.slug}}">
                        <img class=" object-cover rounded h-40 w-full " src="https://media.istockphoto.com/id/1007668632/photo/overhead-image-of-traditional-jewish-and-middle-eastern-food-falafel-fattoush-tabouli.jpg?b=1&s=170667a&w=0&k=20&c=BxofHGqmKSht0Od8KLZLBVyFKD0GEhHHNWAYx7OxdX4=">
                    </a>
                    <div>
                        <a class="p-1" style="font-size: 22px" href="/{{object.slug}}">
                            {{ object.title }}
                        </a>
                        <a href="/{{object.slug}}" style="text-decoration: none;">
                            <p class="p-1">{{ object.subtitle }}</p>
                        </a>
                    </div>
                </div>
            </article>
        </div>
    {% endfor %}
    </div>
{% endblock content %}