<-- django_project/main/templates/main/newsletter.html -->
{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="p-2 rounded sm:ring-1 ring-blue-300">
        <form method="POST" class="flex flex-col justify-center items-center mx-auto gap-y-2">
            {% csrf_token %}
            {{ form|crispy  }}
            {{ form.media  }}
            <div class="flex justify-center items-center mx-auto gap-y-2">
                <button class="px-10 py-3 rounded bg-indigo-600" type="submit">Send</button>
            </div>
        </form>
    </div>
{% endblock content %}